//colors
$white: #fff;
$color_red_orange_approx: #f44336;
$color_cerulean_approx: #03a9f4;
$bin-height: 48px;
$bin-width: 36px;

%extend_1 {
  width: 3px;
  height: #{$bin-height - 28};
  border-radius: 4px;
}

.task-item {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  min-height: #{$bin-height * 2};
  &:hover {
    button.delete {
      display: inherit;
      animation: appear 1s normal forwards;
    }
    .time {
      display: none;
    }
  }
  .time {
    animation: appear 1s normal forwards;
  }
}
.bin-icon {
  position: absolute;
  top: 50%;
  width: $bin-width;
  height: $bin-height;
  margin: #{$bin-height / -2} auto 0 auto;
  border-radius: 50%;
  z-index: 2;
}
.lid {
  position: relative;
  width: #{$bin-width + 8};
  height: 4px;
  left: -4px;
  border-radius: 4px;
  background-color: $color_red_orange_approx;
  transition: 0.2s ease background-color;
  &:before {
    content: '';
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    width: 10px;
    height: 6px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    background-color: $color_red_orange_approx;
    transition: 0.2s ease background-color;
  }
}
.box {
  position: relative;
  height: #{$bin-height - 6};
  margin-top: 2px;
  border-radius: 0 0 8px 8px;
  background-color: $color_red_orange_approx;
  transition: 0.2s ease background-color;
}
.box-inner {
  position: relative;
  top: 4px;
  width: #{$bin-width - 8};
  height: #{$bin-height - 14};
  margin: 0 auto;
  background-color: $white;
  border-radius: 0 0 5px 5px;
}
.bin-lines {
  position: relative;
  top: 7px;
  margin: 0 auto;
  @extend %extend_1;
  background-color: $color_red_orange_approx;
  transition: 0.2s ease background-color;
  &:before {
    @extend %extend_1;
    content: '';
    position: absolute;
    left: -8px;
    background-color: $color_red_orange_approx;
    transition: 0.2s ease background-color;
  }
  &:after {
    @extend %extend_1;
    content: '';
    position: absolute;
    left: 8px;
    background-color: $color_red_orange_approx;
    transition: 0.2s ease background-color;
  }
}
button.delete {
  display: none;
  position: relative;
  width: $bin-width;
  height: $bin-height;
  background: transparent;
  outline: none;
  opacity: 0;
  &:active > .bin-icon {
    .lid {
      background-color: $white;
      animation: lift-up 0.8s ease 0.1s, shake_u 0.8s ease 0.1s, shake_l 0.2s ease 0.8s;
      &:before {
        background-color: $white;
      }
    }
    .box {
      background-color: $white;
      animation: shake 0.2s ease 0.1s;
    }
    .box-inner {
      background-color: $white;
    }
    .bin-lines {
      background-color: $color_cerulean_approx;
      &:before {
        background-color: $color_cerulean_approx;
      }
      &:after {
        background-color: $color_cerulean_approx;
      }
    }
  }
}
