<div class="task-item" [class.done]="task.done && !isEditing">
  <div class="actions">
    <app-circle-tick
      [circleIndex]="circleIndex"
      [tickIndex]="tickIndex"
      [eraserIndex]="eraserIndex"
      (click)="handleAction()"
    ></app-circle-tick>
  </div>
  <div class="label">
    <div class="text" *ngIf="isEditing">
      <app-add-task [item]="task" (savedTask)="save()"></app-add-task>
    </div>
    <div *ngIf="!isEditing">
      <div class="text" [class.checked]="task.done" [innerHTML]="task.text | tagHighlight" (click)="edit()"></div>
      <div class="time flex-1" *ngIf="task.dueDate">
        <span *ngIf="!task.done">{{ task.dueDate | timeTo }} (</span>
        <time>{{ task.dueDate | date: 'medium' }}</time>
        <span *ngIf="!task.done">) </span>
      </div>
    </div>
  </div>
  <span class="task-msg">Well done!</span>
</div>
