@import '../../../styles/variables';

//@extend-elements
%extend_1 {
  transition: all 0s;
  transform: scale(0);
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  opacity: 1;
}

%extend_2 {
  font-size: 0.75rem;
  font-style: italic;
}

%extend_3 {
  animation-duration: 2s;
  animation-name: done;
  animation-fill-mode: forwards;
}

.task-item {
  width: 100%;
  display: grid;
  grid-template-columns: $line-height auto auto;
  align-items: center;
  position: relative;
  overflow: hidden;
  .label {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .check {
    position: relative;
  }
  input[type='checkbox'] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
    &:checked + .ripple-container {
      .check-off {
        border-color: $text-color;
      }
      .check-on {
        transform: scale(0.8);
        transition: transform 0.3s;
        color: $text-color;
        &:after {
          content: '';
          display: block;
          width: 8px;
          height: 16px;
          border: solid $text-color;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          margin: 2px 8px;
        }
      }
      .check-ripple {
        &:before {
          transition: all 0.65s cubic-bezier(0.25, 0.8, 0.25, 1);
          opacity: 0;
          transform: scale(3);
        }
        &:after {
          transition: all 0.65s cubic-bezier(0.25, 0.8, 0.25, 1);
          opacity: 0;
          transform: scale(1.5);
        }
      }
    }
    + .ripple-container {
      width: auto;
      position: relative;
      display: inline-block;
      width: 25px;
      height: 25px;
      pointer-events: none;
      &:before {
        content: '';
        position: absolute;
        border-radius: 2px;
        display: block;
        height: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: all 0.5s;
      }
      .check-off {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 0;
        top: 0;
        border-radius: 50%;
        border: 1px solid $text-color;
        transition: border-color ease 0.28s;
      }
      .check-on {
        transform: scale(0);
        transition: all 0s;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 25px;
      }
      .check-ripple {
        &:before {
          @extend %extend_1;
          background-color: $bg-color-start;
        }
        &:after {
          @extend %extend_1;
          background-color: $bg-color-end;
        }
      }
    }
  }
}
.label {
  margin-left: 0.5rem;
  padding-left: 5px;
  .time {
    animation: appear 1s normal forwards;
    margin-right: 20px;
    span {
      @extend %extend_2;
    }
    time {
      @extend %extend_2;
    }
  }
}
.text {
  flex: 1;
  position: relative;
  font-size: 1rem;
  vertical-align: top;
  word-break: break-word;
  white-space: nowrap;
}
.task-msg {
  transform: translate3d(200px, -50%, 0);
  right: 5px;
  top: 50%;
  position: absolute;
  text-transform: uppercase;
  font-size: 0.5rem;
  line-height: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  padding: 5px;
  color: $bg-color-end;
  background-color: #fff;
}
.done {
  .task-msg {
    animation-duration: 2s;
    animation-name: fadeInOut;
  }
  .check {
    @extend %extend_3;
  }
  .label {
    @extend %extend_3;
  }
}
.actions {
  height: $line-height;
  &.right {
    justify-self: right;
  }
  button {
    cursor: pointer;
    background: transparent;
    font-weight: 900;
    text-transform: uppercase;
    line-height: $line-height;
    height: $line-height;
    border-radius: 3px;
    outline: none;
    padding: 0 10px;
    user-select: none;
    &:hover {
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.96);
    }
  }
}
button.icon {
  .actions {
    padding: 0 0.5rem;
    margin: 0;
  }
  img {
    height: $line-height;
    width: auto;
  }
}
.strike {
  text-decoration: line-through;
}
