//colors
$white: #fff;
$color_red_orange_approx: #f44336;
$color_cerulean_approx: #03a9f4;
$bin-height: 24px;
$bin-width: 36px;

%extend_1 {
  width: 2px;
  height: #{$bin-height - 8};
  border-radius: 4px;
}
.task-item {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  min-height: #{$bin-height * 2};
  position: relative;
  overflow: hidden;
  &:hover {
    .del-con {
      margin-right: 0;
    }
  }
}
.bin-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $bin-width;
  height: $bin-height;
  margin: #{$bin-height * -0.6} auto 0 #{$bin-width / -2};
  border-radius: 50%;
  z-index: 2;
}
.lid {
  position: relative;
  width: $bin-width;
  height: 4px;
  border-radius: 4px;
  background-color: $color_red_orange_approx;
  transition: 0.2s ease background-color;
  &:before {
    content: '';
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    width: 10px;
    height: 6px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    background-color: $color_red_orange_approx;
    transition: 0.2s ease background-color;
  }
}
.box {
  position: relative;
  height: #{$bin-height + 6};
  margin: 2px 2px 0 2px;
  border-radius: 0 0 8px 8px;
  background-color: $color_red_orange_approx;
  transition: 0.2s ease background-color;
}
.box-inner {
  position: relative;
  top: 3px;
  width: $bin-height;
  height: $bin-height;
  margin: 0 auto;
  background-color: $white;
  border-radius: 0 0 5px 5px;
}
.bin-lines {
  position: relative;
  top: 4px;
  margin: 0 auto;
  @extend %extend_1;
  background-color: $color_red_orange_approx;
  transition: 0.2s ease background-color;
  &:before {
    @extend %extend_1;
    content: '';
    position: absolute;
    left: -7px;
    background-color: $color_red_orange_approx;
    transition: 0.2s ease background-color;
  }
  &:after {
    @extend %extend_1;
    content: '';
    position: absolute;
    left: 7px;
    background-color: $color_red_orange_approx;
    transition: 0.2s ease background-color;
  }
}
.del-con {
  display: flex;
  position: absolute;
  right: 0px;
  background: rgba(244, 67, 54, 0.5);
  height: 100%;
  align-items: center;
  width: #{$bin-width * 1.5};
  justify-content: center;
  margin-right: -200px;
  transition: margin-right 0.5s ease-in-out;
  button.delete {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    &:active > .bin-icon {
      .lid {
        background-color: $white;
        animation: lift-up 0.8s ease 0.1s, shake_u 0.8s ease 0.1s, shake_l 0.2s ease 0.8s;
        &:before {
          background-color: $white;
        }
      }
      .box {
        background-color: $white;
        animation: shake 0.2s ease 0.1s;
      }
      .box-inner {
        background-color: $white;
      }
      .bin-lines {
        background-color: $color_cerulean_approx;
        &:before {
          background-color: $color_cerulean_approx;
        }
        &:after {
          background-color: $color_cerulean_approx;
        }
      }
    }
  }
}
app-checkbox {
  width: 100%;
}
