<div class="task-item" [class.done]="task.done">
  <app-checkbox (toggleCheckbox)="toggle()" [checked]="task.done">
    <div class="label">
      <div class="text" [class.checked]="task.done" [innerHTML]="task.text | tagHighlight"></div>
      <div *ngIf="task.dueDate" class="time">
        <span *ngIf="!task.done">{{ task.dueDate | timeTo }} (</span>
        <span>{{ task.dueDate | date: 'medium' }}</span>
        <span *ngIf="!task.done">) </span>
      </div>
    </div>
  </app-checkbox>
  <div class="del-con">
    <button aria-label="delete task" class="delete" (click)="delete()">
      <div class="bin-icon">
        <div class="lid"></div>
        <div class="box">
          <div class="box-inner">
            <div class="bin-lines"></div>
          </div>
        </div>
      </div>
    </button>
  </div>
</div>
