.tasks {
  color: #fff;

  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;

    li {
      padding: 0.5rem 0;
      position: relative;
      border-bottom: 1px solid;
    }
  }
}
