@import './variables';
@import './reset';
@import './keyframes';
@import './new';

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

:root {
  --font-size: 30px;
  --line-height: calc(var(--font-size) + 2px);
  --page-margin-start: 80px;
  --page-margin-end: calc(var(--page-margin-start) + 1px);
  --bg-color: #eee;
  --tag-color: #efefef;
  --text-color: #111;
  --line-color: #aaa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eee;
    --bg-color: #111;
    --tag-color: #333;
    --line-color: #222;
  }
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gochi Hand', cursive;
  margin: 0;
  position: relative;
  color: var(--text-color);

  background-color: var(--bg-color);
  background-image: linear-gradient(
      90deg,
      transparent var(--page-margin-start),
      var(--line-color) var(--page-margin-start),
      var(--line-color) var(--page-margin-end),
      transparent var(--page-margin-end)
    ),
    linear-gradient(var(--line-color) 0px, transparent 1px);
  background-size: 100% var(--line-height);
  background-position-y: 14px;
}

.tag {
  font-weight: normal;
  font-style: italic;
  font-size: calc(var(--font-size) * 0.8);
  line-height: var(--line-height);
  padding: 0 5px 0;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}
.flex-1 {
  flex: 1;
}
.p-0 {
  padding: 0 !important;
}
