@import './variables';
@import './reset';
@import './keyframes';
@import './new';

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

:root {
  --font-size: 30px;
  --line-height: calc(var(--font-size) + 2px);
  --page-margin-start: 62px;
  --page-margin-end: calc(var(--page-margin-start) + 1px);
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gochi Hand', cursive;
  margin: 0;
  position: relative;

  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent var(--page-margin-start),
      #abced4 var(--page-margin-start),
      #abced4 var(--page-margin-end),
      transparent var(--page-margin-end)
    ),
    linear-gradient(#eee 0.1rem, transparent 0.1rem);
  background-size: 100% 1.1rem;
  background-position-x: 0.7rem;
}

// @media screen and (prefers-color-scheme: dark) {
//   body {
//   background-color: #fff;
//   background-image:
//   linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
//   linear-gradient(#eee .1em, transparent .1em);
//   }
// }

.tag {
  font-weight: normal;
  font-style: italic;
  font-size: 0.8rem;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}
.flex-1 {
  flex: 1;
}
.p-0 {
  padding: 0 !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $bg-dark;
  }
}
