form {
  input {
    padding: 1rem;
    text-align: center;
    font-weight: normal;
    background: transparent;
    outline: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 1rem;
    &::placeholder {
      color: white;
      opacity: 0.3;
    }
  }
}
