@import '../../../styles/variables';

.badges {
  display: flex;
  margin: 2rem 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.badge {
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  transition: all 0.3s;
  font-family: sans-serif;
  font-size: 0.75rem;
  text-align: center;
}
.button {
  margin: 0 10px;
  span.content {
    padding: 0.25rem 1rem;
  }
}
